.footer {
  background-color: #f7f7f7 !important;
  border-top: 1px solid #dddddd !important;
  display: block;
  margin-top: 40px;
}

.footer__container {
  padding-left: 40px;
  padding-right: 40px;
}

.container {
  display: flex;
  flex-direction: column;

  padding-top: 40px !important;
  padding-bottom: 10px !important;
  margin-left: 80px;
  margin-right: 80px;
}

.section__1 {
  padding-bottom: 24px !important;
  margin-bottom: 24px !important;
  border-bottom: 1px solid #dddddd !important;
}

.footer__heading {
  color: #222222 !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

.footer__contents {
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-left: -12px !important;
  margin-right: -12px !important;
  list-style: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.footer__listElements {
  flex-basis: 31% !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  margin-top: 12px !important;
}

.footer__link {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  font-variant: inherit !important;
  text-decoration: none !important;
  color: #222222 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}

.section__2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
